<% if(locals.user) {%>
    <div id="user-chat-box">
        <ul id="chat-message-list">
            <div class="title">
                <img src="<%= user.avatar%>" alt="" width="25">
            </div>
            <li class="others-message">
                <span>
                    others-message
                </span>
            </li>
            <li class="self-message">
                <span>
                    Self Message
                </span>
            </li>
        </ul>
        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type message here..">
            <button id="send-message"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
<% } %>