<li id="comment-<%= comment._id %>">
    <p>
        <%= comment.user.name %>
        <br>
        <small>
            <%= comment.content%>
        </small>
        <% if(locals.user && locals.user.id == post.user.id ) { %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id%>">Delete</a>
            </small>
        <% } %>
    </p>
</li>
