<footer>
    <div id="footer">
        <span id="foot">&copy;Connect-Us, All&nbsp;Rights&nbsp;Reserved</span>
    </div>
    <div id="menu">
        <a id="item" href="/">Home</a> &nbsp;
        <% if(locals.user) {%>
        <a id="item" href="/users/profile/<%= user.id%>">Profile</a>
        <% } %>
    </div>
</footer>