<header>
    <div id="header">
        <span id="title">Connect&nbsp;<div id="span"> Us</div></span>
        <ul id="list">
            <% if (locals.user) { %>
                    <a id="link" href="/users/profile"><%= user.name %></a> &nbsp;
                    <a id="link" href="/users/sign-out">Sign Out</a>
                
            <% }else{ %>
                    <a id="link" href="/users/sign-in">Sign In</a>&nbsp;
                    <a id="link" href="/users/sign-up">Sign Up</a>
            <% } %>    
        </ul>
    </div>
    
</header>