<header>
    <div id="header">
        <span id="title"><span id="connect">Connect</span>&nbsp;<div id="span"> Us</div></span>
        <img src="../assets/Logo/45417f04-4c87-4a18-8598-a82555a1aed1_200x200.png" alt="Connect-Us">
        <ul id="list">
            <% if (locals.user) { %>
                    <a id="link" href="/users/profile"><%= user.name %></a> &nbsp;
                    <a id="link" href="/users/sign-out">Sign Out</a>
                
            <% }else{ %>
                    <a id="link" href="/users/sign-in">Sign In</a>&nbsp;    
                    <a id="link" href="/users/sign-up">Sign Up</a>
            <% } %>    
        </ul>
    </div>
    
</header>