<link rel="stylesheet" href="/css/user_profile.css">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">

<h1>
    ConnectUs/Profile Page
</h1>

<p><%= user.name%></p>
<p><%= user.email%></p>