<link rel="stylesheet" href="<%= assetPath('css/user_sign_in.css') %>" type="text/css">

<script src="https://kit.fontawesome.com/0691d296c8.js" crossorigin="anonymous"></script>


<body>
    <div id="form">
        <h1>Sign In</h1>
        <form id="input" action="/users/create-session" method="post">
       <label>E-Mail</label>
        <input type="email" name="email" placeholder="example@xyz.com" required>
        <br>
        <label>Password</label>
        <input type="password" name="password" placeholder="*********" required>
        <input type="submit" value="Sign In">
        </form>
        <div id="p">
            <a id="auth" href="/users/auth/google">Sign In using Google &nbsp;<i class="fab fa-google"></i></a>
        </div>
        <div id="p">
            <a id="auth" href="/users/auth/github">Sign In using GitHub &nbsp;<i class="fab fa-github"></i></a>
        </div>
    </div>
</body>