#header{
    display: flex;
    margin-bottom: 0px;
    // font-family: fantasy;\
    font-family: 'Aclonica', sans-serif;
    background-color: transparent;
    font-size: 30px;
    justify-content:space-between;   
}

#list
{
    font-size: 20px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
    padding-top: 10px;
    color: black;
    text-transform: capitalize;
    


}
#link{
    text-decoration: none;
    color: white;
}

#link:hover{
    color: darkturquoise;
    text-shadow: darkturquoise;
    text-shadow: 2px;
}
#title
{
    margin-top: 15px;
    margin-left: 5px;
}
span:hover{
    color: darkturquoise;
    text-shadow: darkturquoise;
    text-shadow: 2px;
    cursor:pointer;
}
#connect
{
    background-clip: text;
    background: linear-gradient(60deg, white,rgb(10, 50, 51));
  -webkit-background-clip: text;
   color: rgba(0,0,0,.2);
}
#connect:hover{
    color: darkturquoise;
    text-shadow: darkturquoise;
    text-shadow: 2px;
    cursor:pointer;
}

#span
{
    // height: 15 px;
    width: 50px;
    margin-bottom: 10px;
    text-align: center;
    padding: 3px;
    float: right;
    border-radius: 5px;
    font-size: 20px;
    background-image: linear-gradient(30deg,white, rgb(10, 50, 51));

}