body
{
    text-align: center;
    background-color: 131419;
    
}
h1{
    color: floralwhite;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; 
}

p
{
    color: floralwhite;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; 
}