
<div style= "padding: 10px; text-align: center; background-color: gray; border-radius: 30px; box-shadow: -5px -5px 10px rgba(255,255,255, 0.05),5px 5px 15px rgba(0,0,0, 0.8);">
    <div>
        <img src="https://drive.google.com/open?id=11Ep-qcrMQYk6mmF991dIMRQgALFnmtVQ" alt="Connect-Us">
    </div>
    <p>Hi <%= comment.user.name %>!</p>
    <br>
    <br>
    <p>Your comment <strong>"<%= comment.content %>"</strong>just got published on Connect-Us</p>
    <br>
    <br>
    <p>Thanks !</p>
</div>