#header {
  display: flex;
  margin-bottom: 0px;
  font-family: 'Aclonica', sans-serif;
  background-color: grey;
  font-size: 30px;
  justify-content: space-between; }

#list {
  font-size: 20px;
  padding: 0px;
  font-family: 'Bangers', cursive;
  margin-right: 5px;
  color: black; }

#link {
  text-decoration: none;
  color: black; }

#link:hover {
  color: darkturquoise;
  text-shadow: darkturquoise;
  text-shadow: 2px; }

#title {
  margin-top: 15px;
  margin-left: 5px; }

#span {
  width: 50px;
  margin-bottom: 10px;
  text-align: center;
  padding: 3px;
  float: right;
  border-radius: 5px;
  font-size: 20px;
  background-image: linear-gradient(to bottom right, darkturquoise, #0a3233); }
